body {
    background-color: #b91350;
}

h1 {
    color: white;
}

.bottone-calcolo {
    margin-right: 10px;
    border: 2px solid gray;
    background-color: lightgray;
    color: #b91350;
}

.btn:hover {
    
}
